{# Marvel Comics API Finder Template #}
<div id="marvelcomicsapi-finder">

  <p>{{ description }}</p>

  <form id="find-marvelcomics-character">
    <input type="text" />
    <button>Find Character</button>
  </form>

  <article class="details">
  </article>

</div>